version: "3.8"

services:
  api:
    container_name: gradio-api
    build: 
      context: ./api
      dockerfile: Dockerfile-api
    ports:
      - "7860:7860"
    depends_on:
      - redis
    networks:
      - app-network

  worker:
    container_name: celery-worker
    build: 
      context: ./worker
      dockerfile: Dockerfile-worker
    depends_on:
      - redis
    networks:
      - app-network

  redis:
    container_name: redis
    image: redis
    ports:
      - "6379:6379"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge